services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
    
    Aws\S3\S3Client:
        arguments:
            -   version: 'latest'
                region: '%env(S3_REGION)%'
                endpoint: '%env(S3_ENDPOINT)%'
                use_path_style_endpoint: true
                credentials:
                    key: '%env(S3_ACCESS_KEY)%'
                    secret: '%env(S3_SECRET_KEY)%'

    app.event.authentication_success_listener:
        class: App\Infrastructure\Auth\Listener\AuthenticationSuccessListener
        tags:
            - {
                  name: kernel.event_listener,
                  event: lexik_jwt_authentication.on_authentication_success,
                  method: onAuthenticationSuccessResponse,
              }
    
    app.event.jwt_created_listener:
        class: App\Infrastructure\Auth\Listener\JWTCreatedListener
        tags:
            - {
                  name: kernel.event_listener,
                  event: lexik_jwt_authentication.on_jwt_created,
                  method: onJWTCreated,
              }
